body{
    background-color:#e4f9ff;
}
hr{
border-style: none;
border-top-style: dotted;
border-width: 5px;
border-color: grey;
width:5%;

}
h1,h3{
    color:#8bcdcd;
}
img{
    height:150px;
}